.side-bar {
  position: absolute;
  right: 1rem;
  inset: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  height: 80%;
  width: 90%;
  border-radius: 30px;
  max-width: 400px;
  z-index: 5;
  margin-left: auto;
  background-color: #1a1a1a5a;
  box-shadow: 1px 15px 25px 1px black;
  /* border: solid red; */

}

.bg-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.side-bar-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  /* scrollbar-track-color: transparent; */
}

.wikiUrl {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
}

.wikiUrl i {
  font-size: 2rem;
  margin-right: .5rem;
}

.btn {
  width: fit-content;
}

button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  transition: .2s;
}

button:hover {
  opacity: 0.5;
}

button i {
  color: white;
  font-size: 2rem;
}

button {
  color: white;
}

@media (min-width: 640px) {
  /* .side-bar {
    position: relative;
    inset: unset;
    min-width: 30%;
    box-shadow: -15px 14 10px 10px #1a1a1a3a;
  }

  .side-bar-content {
    margin: unset;
  } */
}